<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-3"><b>WiatherApp</b></span>
    </span>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'data_input' %}" class="nav-link">Добавить данные</a></li>
    </ul>
</header>